.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main_section {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.main_section .navWrap {
  position: absolute;
  top: 30%;
  right: 0;
  width: 250px;
  height: 300px;
}
.main_section .navWrap_gnb {
  width: 100%;
  height: 100%;
}
.main_section .navWrap_gnb a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.main_section .navWrap_gnb .menu {
  position: fixed;
  z-index: 5;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 300px;
  text-align: left;
  line-height: 50px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.05);
}
.main_section .navWrap_gnb .menu_list {
  position: relative;
  padding-left: 50px;
  height: 50px;
}
.main_section .navWrap_gnb .menu_list.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.main_section .navWrap_gnb .menu_list::after {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: url("../images/icon/ico_round_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.main_section .navWrap_gnb .menu_list.main::before {
  z-index: -1;
  content: attr(data-item);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
.main_section .navWrap_gnb .menu_list.main:hover::before {
  width: 100%;
  color: #fff;
}
.main_section .navWrap_gnb .menu_list {
  font-size: 15px;
  color: #fff;
}
.main_section .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.main_section .footer_left {
  color: #fff;
  line-height: 72px;
  font-size: 15px;
  font-weight: bold;
}
.main_section .footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_section .footer_right .footerImg {
  padding-left: 20px;
}
.main_headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  width: calc(100% - 50px);
  height: 100px;
  margin: 0 auto;
}
.main_headerWrap .navigation {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.main_headerWrap .navigation_list .link {
  position: relative;
  padding-right: 30px;
  color: #fff;
}
.main_headerWrap .navigation_list .link:after {
  position: absolute;
  top: 0;
  right: 15px;
  width: 5px;
  height: 10px;
  content: ">";
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.main_headerWrap .navigation_list .link:nth-last-child(1)::after {
  content: none;
}
.main_headerWrap .navigation .backBtn {
  cursor: pointer;
  width: 100px;
  height: 50px;
  line-height: 50px;
  position: relative;
  padding-left: 40px;
}
.main_headerWrap .navigation .backBtn::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 35px;
  height: 35px;
  background: url("../images/icon/ico_backBtn.png") no-repeat 50% 50%;
  background-size: cover;
}

@media (max-width: 1024px) {
  .main_section .navWrap_gnb .menu {
    width: 250px;
  }
}
@media (max-width: 769px) {
  .main_headerWrap {
    height: 130px;
  }
  .main_section .navWrap {
    top: 75%;
  }
  .main_section .navWrap_gnb .menu {
    top: 75%;
    width: 250px;
  }
  .main_section .footer_left {
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
  }
}