.main_section .view {
  margin: 0 auto;
  width: 200px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 35px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.main_section .view:focus, .main_section .view:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main_section.song {
  background: url("../images/bg_5.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.main_section.song .promotionWrap.campaignSong {
  padding: 125px 120px 0;
}
.main_section.song .promotionWrap.campaignSong .songWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main_section.song .promotionWrap.campaignSong .songWrap_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 90px;
}
.main_section.song .promotionWrap.campaignSong .songWrap_list_title {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 20px;
}
.main_section.song .promotionWrap.campaignSong .songWrap_list .videoStyle {
  display: block;
  width: 530px;
  height: 300px;
  background-color: wheat;
}
.main_section.design {
  background: url("../images/bg_6.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.main_section.design .promotionWrap {
  padding: 50px 0 0 70px;
}
.main_section.design .promotionWrap .designRound .designWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main_section.design .promotionWrap .designRound .designWrap_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 35px;
}
.main_section.design .promotionWrap .designRound .designWrap_list:nth-last-child(1) {
  margin-right: 0;
}
.main_section.design .promotionWrap .designRound .designWrap_list_img {
  padding-bottom: 30px;
}
.main_section.design .promotionWrap .designRound .designWrap.dp2 {
  color: #fff;
}
.main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list {
  width: 100%;
  height: auto;
}
.main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list:nth-child(2) {
  margin: 45px auto 0;
  padding-left: 130px;
}
.main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list .down {
  margin-right: 10px;
}
.main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list .down_btn {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 35px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list .down_btn:focus, .main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list .down_btn:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main_section.poster {
  background: url("../images/bg_10.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.main_section.poster .promotionWrap .promotionWrap .poster .posterWrap_list:nth-child(1) {
  margin-bottom: 30px;
}
.main_section.poster .promotionWrap .promotionWrap .poster .posterWrap_list_btn {
  margin-left: 260px;
  text-align: center;
  padding: 15px 35px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 700;
}
.main_section.poster .promotionWrap .promotionWrap .poster .posterWrap_list_btn:focus, .main_section.poster .promotionWrap .promotionWrap .poster .posterWrap_list_btn:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main_section.artist {
  background: url("../images/bg_9.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list {
  margin-bottom: 30px;
}
.main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list.btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list.btnWrap .btnWrap_btn {
  margin-right: 20px;
  padding: 15px 35px;
  display: block;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 700;
}
.main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list.btnWrap .btnWrap_btn:focus, .main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list.btnWrap .btnWrap_btn:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list.btnWrap .btnWrap_btn:nth-last-child(1) {
  margin-right: 0;
}
.main_section.video {
  background: url("../images/bg_8.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.main_section.photos {
  background: url("../images/bg_7.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.main_section.photos .promotionWrap.photo {
  padding: 125px 120px 0;
}
.main_section.photos .promotionWrap.photo .photoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main_section.photos .promotionWrap.photo .photoWrap_list {
  margin-right: 35px;
}
.main_section.photos .promotionWrap.photo .photoWrap_list:nth-last-child(1) {
  margin-right: 0;
}
.main_section.photos .promotionWrap.photo .photoWrap_list .textWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
.main_section.photos .promotionWrap.photo .photoWrap_list .textWrap_btn {
  display: block;
  margin-right: 10px;
  color: #fff;
  font-weight: 600;
  font-style: 17px;
  padding: 15px 35px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.main_section.photos .promotionWrap.photo .photoWrap_list .textWrap_btn:focus, .main_section.photos .promotionWrap.photo .photoWrap_list .textWrap_btn:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #000;
  background-color: #fff;
}
.main_section.photos .promotionWrap.photo .photoWrap_list .textWrap_btn:nth-last-child(1) {
  margin-right: 0;
}

.sub_section.artistView .posterView {
  width: calc(100% - 130px);
  margin: 0 auto;
}
.sub_section.artistView .posterView .posterView_listWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.sub_section.artistView .posterView .posterView_listWrap_list {
  width: calc((100% - 72px) / 4);
}
.sub_section.artistView .posterView .posterView_listWrap_list .textWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0 40px 15px;
}
.sub_section.artistView .posterView .posterView_listWrap_list .textWrap_name {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #303133;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sub_section.artistView .posterView .posterView_listWrap_list .textWrap_name:focus, .sub_section.artistView .posterView .posterView_listWrap_list .textWrap_name:hover {
  opacity: 0.75;
}
.sub_section.artistView .posterView .posterView_listWrap_list .textWrap_name.ps {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 20px;
}
.sub_section.artistView .posterView .posterView_listWrap_list .textWrap_nat {
  font-size: 13px;
  font-weight: 600;
  color: #999;
  font-style: italic;
}
.sub_section.artistView .posterView .posterView_listWrap_list .bgImg {
  position: relative;
  background-size: cover;
}
.sub_section.artistView .posterView .posterView_listWrap_list .bgImg img {
  display: block;
  width: 100%;
  height: 12.9374754227vw; /*329(2543)*/
  -o-object-fit: cover;
     object-fit: cover;
}
.sub_section.artistView .posterView .posterView_listWrap_list .bgImg .viewWrap {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.sub_section.artistView .posterView .posterView_listWrap_list .bgImg .viewWrap:focus, .sub_section.artistView .posterView .posterView_listWrap_list .bgImg .viewWrap:hover {
  opacity: 1;
}
.sub_section.artistView .posterView .posterView_listWrap_list .bgImg .viewWrap .cBox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
}
.sub_section.artistView .posterView .posterView_listWrap_list .bgImg .viewWrap .cBox::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../images/icon/ico_search_w.png") no-repeat 50% 50%;
  background-size: contain;
}

@media (max-width: 1024px) {
  .main_section .view {
    width: 150px;
    font-size: 14px;
    padding: 10px 25px;
  }
  .main_section.song {
    background: url(../images/bg_5.jpg) no-repeat 100%;
    background-size: cover;
  }
  .main_section.song .promotionWrap .campaignSong {
    padding: 80px 120px 0;
  }
  .main_section.song .promotionWrap .campaignSong .songWrap_list .videoStyle {
    width: 300px;
    height: 170px;
  }
  .main_section.design .promotionWrap {
    padding: 30px 0 0 0;
  }
  .main_section.design .promotionWrap .designRound .designWrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_section.design .promotionWrap .designRound .designWrap_list_img {
    width: 250px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list .down_btn {
    width: 150px;
    font-size: 14px;
    padding: 10px 25px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list:nth-child(2) {
    padding-left: 80px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.dp2 .dp2Wrap_list_img {
    width: 500px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.poster .posterWrap_list .posterImg {
    width: 800px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.poster .posterWrap_list_btn {
    font-size: 14px;
    padding: 10px 25px;
    margin-left: 150px;
  }
  .main_section.artist .promotionWrap .designRound .aritstPo .posterWrap_list.btnWrap .btnWrap_btn {
    font-size: 14px;
    padding: 10px 25px;
  }
}
@media (max-width: 769px) {
  .main_section.song {
    background: url(../images/bg_5.jpg) no-repeat 90%;
    background-size: cover;
  }
  .main_section.song .promotionWrap .campaignSong .songWrap {
    display: block;
  }
  .main_section.song .promotionWrap .campaignSong .songWrap_list:nth-child(1) {
    margin-bottom: 30px;
  }
  .main_section.song .promotionWrap .campaignSong .songWrap_list_title {
    padding-bottom: 0;
  }
  .main_section.design .promotionWrap .designRound .designWrap_list_img {
    width: 200px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.poster .posterWrap_list .posterImg {
    width: 700px;
  }
  .main_section.design .promotionWrap .designRound .designWrap.poster .posterWrap_list_btn {
    font-size: 14px;
    padding: 10px 25px;
    margin-left: 120px;
  }
}